<% page = { 'title': 'Hello Frontier - Static Page 2', 'key': 'INDEX_PAGE_NAME'} %>
<% assets = { 'css': ['index.styl'], 'js': ['angular-1.2.9/angular.js'] } %>
<div id="static-2" class="container" data-control="Todo">
  <div class="no-layout">
    <h1 class="font21 serif"><%- i18n('static_2_title') %></h1>
    <section class="basic">
      <p>
        <%- i18n('static_2_message') %> <img src="<%= img('icon/arrow_left_white_11x11.png') %>" alt="">
      </p>
    </section>

    <div data-ng-controller="TodoCtrl as tc">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading clearfix">
              <div class="pull-left">
                <div class="panel-title">My Todos</div>
              </div>
              <div class="pull-right">
                <select data-ng-model="tc.filter.complete">
                  <option value="">All</option>
                  <option value="false">Not Completed</option>
                  <option value="true">Completed</option>
                </select>
              </div>

            </div>
            <div class="panel-body">
              <form novalidate>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control my-inputs"
                    data-add-or-update
                    data-ng-model="tc.todoInput"
                    placeholder="Enter a todo and hit 'Enter'"
                    required
                  />
                </div>
              </form>
              <div class="row" data-ng-repeat="todo in tc.todos | filter:tc.filter">
                <div class="col-lg-1 col-md-1 col-sm-1">
                  <input
                    type="checkbox"
                    data-ng-model="todo.complete"/>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9">
                  <input
                    data-ng-if="todo.editing"
                    type="text"
                    class="form-control my-inputs"
                    data-add-or-update
                    data-ng-model="todo.name"
                    placeholder="Enter a todo and hit 'Enter'"
                    data-ng-disabled="!todo.editing"
                    required
                    data-update-field/>
                  <div class="not-editing" data-ng-class="{complete: todo.complete}" data-ng-if="!todo.editing">{{todo.name}}</div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 actions">
                  <span class="glyphicon glyphicon-pencil pointer" data-ng-click="tc.edit($index)" title="edit"></span>
                  <span class="glyphicon glyphicon-trash pointer" data-ng-click="tc.del($index)" title="delete"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
