// Core variables and mixins
@import "variables"
@import "mixins"
@import "normalize"
@import "scaffolding"
@import "type"
@import "code"
@import "grid"
@import "tables"
@import "forms"
@import "buttons"
@import "navs"
@import "navbar"
@import "panels"
@import "glyphicons"

#nav
  margin-top 20px
.red
  color red

.my-inputs
  font-size 18px !important
  padding 18px 12px !important

.pointer
  cursor pointer

.not-editing
  font-size  18px
  padding 4px 0px

.complete
  text-decoration line-through

.actions {
  padding-top 8px
  span {
    display inline-block
    height 18px
    width 18px
    text-align center
  }
}